window#osd {
    border-radius: 20px;
    border: none;
    background: rgba(42, 39, 63, 0.6);
}

#container {
    margin: 12px 30px;
}

image,
label {
    color: rgb(196, 167, 231, 0.7);
    opacity : 0.8;
    font-family : 'DM Sans';
    font-weight : 400;
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 10px;
    border-radius: 5px;
    background: transparent;
    border: none;
}

trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(68, 65, 90, 0.8);
}

progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(196, 167, 231, 0.8);
}