* {
    font-size : 12px;
    font-weight : bolder;
    /* border: 2px; */
    /* border : none; */
    border-radius: 8px;
    font-family: "JetbrainsMono Nerd Font";
    /* color : #ebdbb2; */
    /* font-size: 15px; */
    min-height: 15px;
}

#waybar {
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
    margin : 0px 20px;
    opacity: 0.85;
}




#workspaces {
    transition : all cubic-bezier(0.215, 0.61, 0.355, 1) 150ms;
    margin : 8px 0px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 10px;
    background: transparent;
    /* background: #161320; */
    transition: none;
}




#workspaces button {
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    margin : 0px 3px;
    border: 1px transparent;
    color: #6e6a86;
    font-weight: bolder;
    background-color: transparent;
    border  : 2px solid #6e6a86;
    font-size: 12px;
    padding : 0 2px;
    padding-top: 1px;
    border-radius: 50%;
}

#workspaces button.active {
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    border: 2px #c4a7e7 solid;
    border-radius: 50%;
    background : transparent;
    padding: 0 20px;
    padding-top: 1px;
    font-size: 12px;
    color: transparent;
    border-radius: 12px;
    /* font-size : 13px; */
}

#workspaces button.urgent {
    color : #ebbcba;
    border-color : #ebbcba;
    padding : 0px 20px;
    border-radius : 15px;
    animation-name : urgent-shake;
    animation-timing-function: linear;
    animation-duration: 750ms;
    animation-delay: 1s;
} 

@keyframes urgent-shake {
    0% {
        padding: 0px 20px;
    }
    20% {
        padding-left : 25px;
        padding-right : 15px;
    }
    40% {
        padding-left : 15px;
        padding-right : 25px;
    }
    50% {
        padding-left : 25px;
        padding-right : 15px;
    }
    60% {
        padding-left : 15px;
        padding-right : 25px
    }
    80% {
        padding-left : 25px;
        padding-right : 15px;
    }
    100% {
        padding : 0 20px;
    }
}

@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#workspaces button:hover {
    transition: all ease-out 150ms;
    border: 2px solid #c4a7e7;
    border-radius: 50%;
    background: transparent;
    padding: 0 20px;
    padding-top: 0px;
    font-size: 12px;
    color: #c4a7e7;
    border-radius: 12px;
}


#network {
    /* border: 2px solid #a89884; */
    font-weight : bold;
    font-size : 14px;
    padding-top : 2px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 15px;
    transition: none;
    color: #ea9a97;
    border : 2px solid #ea9a97 ;
    /*default: background: #bd93f9;*/
    transition: width 0.5s ease-in-out;
}

#wireplumber {
    margin : 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #1a1826;
    background: #fae3b0;
}

#battery {
    margin : 6px 0;
    font-size: 13px;
    /* border: 2px solid #a89884; */
    padding : 0 10px;
    transition: none;
    border-radius: 15px;
    background: transparent;
    border : 2px solid rgb(156, 207, 216);
    color : rgb(156, 207, 216);
}


#battery:not(.charging) {
    font-size: 13px;
    padding-top : 1px;
    padding-left: 7px;
    padding-right: 10px;
    border-radius: 10px;
    border-width: 10px;
    background: transparent;
    transition: none;
    color: rgb(196, 167, 231);
    border : 2px solid rgb(196, 167, 231);
    border-radius: 15px;
}


#battery.discharging {
    padding : 0 9px;
    color : #eb6f92;
    border-color : #eb6f92;
}

#battery.critical:not(.charging) {
    background : transparent;
    border : 2px solid #eb6f92;
    color: #eb6f92;
    animation-name: blink;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #eb6f92;
        color: #161320;
    }
}

#backlight {
    border-radius: 15px;
    color: rgb(62, 143, 176);
    padding-left : 10px;
    padding-right : 13px;
    border : 2px solid rgb(62, 143, 176);
}

#clock {
    transition : all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
    border : 2px solid #c4a7e7;
    margin : 6px 0px;
    color : #c4a7e7;
    border-radius : 15px;
    padding : 0px 10px;
}

#clock:hover {
    transition : all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
    background-color: transparent;
    border : 2px solid @foreground;
    color : @foreground;
}

#custom-notification {
    margin : 6px 0px;
    padding-left : 8px;
    padding-right : 11px;
    border-radius: 15px;
    transition: none;
    color: #f6c177;
    border : 2px solid #f6c177;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
}

#custom-notification.dnd {
    padding-left: 10px;
    padding-right: 14px;
    border-radius: 10px;
    transition: none;
    color: #a89884;
    background: #292828;
    font-size: 15px;
    font-weight: 700;
}

#custom-launcher {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #fe8019;
    /*default: color: #89dceb; */
    background: #161320;
}

#custom-media {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #f2cdcd;
}

#pulseaudio {
    margin : 6px 0;
    font-weight : bold;
    border : 2px solid rgb(144, 140, 170);
    padding : 3px 0px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 15px;
    transition: none;
    color: rgb(144, 140, 170);
}

#custom-power {
    transition : all ease-out 150ms;
    margin : 6px 0px;
    padding : 0;
    border : 2px solid #56526e;
    border-radius: 15px;
    color: transparent;
    font-size: 8px;
}

#custom-power:hover {
    transition : all ease-out 150ms;
    padding-left : 6px;
    padding-right : 10px;
    border : 2px solid #eb6f92;
    border-radius: 15px;
    background-color: #eb6f92;
    color:#2a273f;
    font-size : 15px;
}

#menu {
    border-radius: 0px;
    background: #292828;
    min-width: 10px;
    color: #ebdbb2;
}

#menuitem {
    border-radius: 15px;
}

/* #menu-actions {
  background-color: #292828;
  color: #a89884;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

#tray {
    margin : 5px 0px;
    border : 2px solid #e0def4;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    transition: none;
}

#custom-recording_status.not_recording {
    transition : opacity 0.5s ease-out;
    transition : padding 0.5s ease-out;
    padding : 0;
    opacity: 0.0;
}
#custom-recording_status.recording {
    margin : 8px 0px;
    font-size: 15px;
    padding: 0px 30px;
    border-radius: 15px;
    opacity : 1.0;
    transition: none;
    color: rgb(235, 111, 146);
    background: transparent;
    border : 2px solid rgb(235, 111, 146);

    transition : opacity 0.5s ease-out;
    transition : padding 0.5s ease-out;
    animation : record-shake 1.5s linear 0.5s,
        record-blink cubic-bezier(0.215, 0.610, 0.355, 1) 750ms alternate infinite 1s;
}


@keyframes record-shake {
    0% {
        padding: 0px 30px;
    }
    20% {
        padding-left : 40px;
        padding-right : 20px;
    }
    40% {
        padding-left : 20px;
        padding-right : 40px;
    }
    50% {
        padding-left : 40px;
        padding-right : 20px;
    }
    60% {
        padding-left : 20px;
        padding-right : 40px
    }
    80% {
        padding-left : 40px;
        padding-right : 20px;
    }
    100% {
        padding : 0 30px;
    }
}

@keyframes record-blink {
    to {
        color : #161320;
        background: rgb(235, 111, 146);
    }
}

#custom-waybar_media {
    font-weight : bold;
    transition : ease-out all 250ms;
    letter-spacing: 0em;
    /* background : #c4a7e7; */
    color : #f6c177;
    padding : 1px 10px;
    background-size : cover;
    font-size : 12px;
    border-radius : 20px;
    border : 2px #f6c177 solid;
}

#custom-waybar_media:hover {
    transition : ease-out all 250ms;
    background : transparent;
    color : #c4a7e7;
    padding : 1px 20px;
    background-size : cover;
    font-size : 12px;
    border-radius : 20px;
    border : 1px solid @foreground; 
}

#privacy {
    margin : 6px 0;
    padding : 0 8px;
    border-radius : 15px;
    background-color : transparent;
    border : 2px solid #eb6f92;
    color : #eb6f92;
    animation : record-blink 2.5s ease-in-out alternate infinite;
}

#mpris {
    border : 2px solid;
    padding : 0px 12px;
    margin : 6px 0;
    border-radius : 15px;
    transition : color 0.5s linear, border-color 0.5s linear;
}

#mpris.playing {
    color : #9ccfd8;
    border-color :#9ccfd8;
}

#mpris.paused {
    color : #908caa;
    border-color : #908caa;
}