* {
	background-image: none;
	min-height: 0;
	min-width: 0;
	font-family : 'DM Sans'
}

window {
	background-color: #191724;
	margin : 0px
}

box {
    background-color: rgba(20, 20, 20, 0.85);
    padding: 20px;
    border-radius: 12px;
}


#container,
button {
	min-width : 120px;
	/* box-shadow: 0px 0px 20px black; */
    border-radius: 20px;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1f1d2e;
	background-repeat: no-repeat;
	background-position: center 50px;
	background-size: 35%;
	font-weight: 300;
	transition: all ease-out 250ms;
}

button:focus, button:active {
	background-color: #c4a7e7;
	border : none;
	font-weight: 400;
	outline-style: none;
	transition: all ease-out 250ms;
	color : #191724;
}


#logout {
	background-image: url("icons/door.svg");
}

#logout:focus {
	background-image: url("icons/door_focus.svg");
}

#hibernate {
	background-image : url("icons/save.svg");
}

#hibernate:focus {
	background-image : url("icons/save_leaf.svg");
}

#shutdown {
    background-image: url("icons/power.svg")
}

#shutdown:focus {
	background-image: url("icons/power_focus.svg");
}

#reboot {
    background-image: url("icons/restart.svg")
}

#reboot:focus {
	background-image: url("icons/restart_focus.svg");
}
